In [3]:
import pandas as pd
import numpy as np

In [8]:
dataFrame = pd.read_csv("../Data Collection/data.csv")

dataFrame.head(5)

,Datetime,News,Link
0,2024-01-01,disney marathon how to register and qualify ch...,https://economictimes.indiatimes.com/news/inte...
1,2024-01-01,bharti airtel services to acquire 97 1 stake i...,https://economictimes.indiatimes.com/industry/...
2,2024-01-01,fallout 76 nuke codes launch site locations he...,https://economictimes.indiatimes.com/news/inte...
3,2024-01-01,is retirement on your list in 2024 here are de...,https://economictimes.indiatimes.com/news/inte...
4,2024-01-01,raise a glass to gift city why the recent amen...,https://economictimes.indiatimes.com/opinion/e...